Repository jenkinsci/libvirt-agent-plugin, pull requests merged in 2024-03, with the labels that each got.

#40 Update github url in pom to match repository location
  pom.xml
Labels: chore

#41 pom.xml: Add myself to the developers
  pom.xml
Labels: chore

#43 Improve logging in ComputerUtils
  src/main/java/hudson/plugins/libvirt/ComputerUtils.java
Labels: java, enhancement

#42 JENKINS-72362: Fix exporting libvirt agents as JCasC
  src/main/java/hudson/plugins/libvirt/VirtualMachineLauncher.java
Labels: java, bug

#44 Fix: reboot twice after Run
  src/main/java/hudson/plugins/libvirt/LibvirtRunListener.java
Labels: java, bug

#38 Fix Before Job snapshots for pipelines
  src/main/java/hudson/plugins/libvirt/ComputerUtils.java
  src/main/java/hudson/plugins/libvirt/LibvirtSnapshotRevertRunListener.java
  src/main/java/hudson/plugins/libvirt/OfflineClause.java
  src/main/java/hudson/plugins/libvirt/VirtualMachineSlaveComputer.java
Labels: java, bug

#45 Set the management interface category to TOOLS
  src/main/java/hudson/plugins/libvirt/VirtualMachineManagement.java
Labels: java, enhancement

#47 JENKINS-72147: Add connection information to agent page
  src/main/resources/hudson/plugins/libvirt/VirtualMachineLauncher/main.jelly
  src/main/resources/hudson/plugins/libvirt/VirtualMachineLauncher/main.properties
Labels: bug

#48 Fix: timesToRetryOnFailure is off by one
  src/main/java/hudson/plugins/libvirt/VirtualMachineLauncher.java
Labels: bug
